<!DOCTYPE html>
<html class="html">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
    </head>
<center>
    <body>
        <div class="navbar">
            <a href="{{ url_for('home') }}" class="navbar-item">Я есть рандом</a>
            <a href="{{ url_for('user') }}" class="navbar-item">Я есть юзер</a>
        </div>
        <div class="navbar">
            {% block content %}
            {% endblock %}
            <hr/>
            <footer>
                <p>StasPI</p>
            </footer>
        </div>
    </body>
</center>
</html>