{% extends "layout.html" %}
{% block title %}
Какой то титул в финише
{% endblock %}
{% block content %}
    <form class="form" action="" method="put">
        <label for="insert_username">Напиши и я его запомню</label>
	    <input class="rounded-input" type="text" name="insert_username">
        <input value="Запомни" class="button" type="submit">
    </form>
        <p><strong>   </strong></p>

    <form class="form" action="" method="post">
        <label>Выбери и я его забуду</label>

        <select name="delete_username">
        <script s language="javascript" type="text/javascript"> 
        var user = JSON.parse('{{users | tojson}}');
        for (index = 0; index < user.length; ++index)
        {
            document.write("<option value="+user[index]+">"+user[index]+"</option>");
        }
        </script>
        </select>
        
        <input value="Забудь" class="button" type="submit">
    </form>

    <form class="form">
    <p><strong>Помню только этих:</strong></p>
    <ul class="list5b">
        {% for user in users %}
            <li><strong>{{ user }}</strong></li>
        {% endfor %}
    </ul>
    </form>
{% endblock %}
