{% extends "layout.html" %}
{% block title %}
Какой то титул в финише
{% endblock %}
{% block content %}
    <form class="form" action="" method="post">
        <label for="insert_username">Напиши и я его запомню</label>
	    <input class="rounded-input" type="text" name="insert_username">
        <input value="Запомни" class="button" type="submit">
    </form>
        <p><strong>   </strong></p>
    <form class="form" action="" method="delete">
        <label for="delete_username">Напиши и я его забуду</label>
	    <input class="rounded-input" type="text" name="delete_username">
        <input value="Забудь" class="button" type="submit">
    </form>
        <p><strong>   </strong></p>
    <form>
        <select >
        <script s language="javascript" type="text/javascript"> 
        var user = {{ users }};
        for (index = 0; index < user.length; ++index)
        {
            document.write("<option>"+user[index]+"</option>");
        }
        </script>
        </select>
    </form>
{% endblock %}
