{% extends "layout.html" %}
{% block title %}
Какой то титул в финише
{% endblock %}
{% block content %}
    <form class="form" action="" method="post">
        <label for="insert_username">Напиши и я его запомню</label>
	    <input class="rounded-input" type="text" name="insert_username">
        <input value="Запомни" class="button" type="submit">
    </form>
        <p><strong>   </strong></p>
    <form class="form" action="" method="delete">
        <label for="delete_username">Напиши и я его забуду</label>
	    <input class="rounded-input" type="text" name="delete_username">
        <input value="Забудь" class="button" type="submit">
    </form>
        <p><strong>   </strong></p>

    <form class="form">
    <p><strong>Помню только этих:</strong></p>
    <ul class="list5b">
        {% for user in users %}
            <li><strong>{{ user }}</strong></li>
        {% endfor %}
    </ul>
    </form>
        <p><strong>   </strong></p>
    <form class="form">
        <select id="phone" name="phone">
            <option value="iphone 6s">iPhone 6S</option>
            <option value="lumia 950">Lumia 950</option>
            <option value="nexus 5x">Nexus 5X</option>
            <option value="galaxy s7">Galaxy S7</option>
        </select>
    </form>
{% endblock %}
